<?xml version="1.0" encoding="UTF-8"?>
<phpunit convertWarningsToExceptions="false"
         convertNoticesToExceptions="false"
         convertErrorsToExceptions="false"
         backupStaticAttributes="false"
         processIsolation="false"
         stopOnFailure="false"
         backupGlobals="false"
         syntaxCheck="false"
         colors="true">
    <testsuites>
        <testsuite name="Testes para o insert">
            <directory>./tests/phpUnit/</directory>
            <file>./tests/phpUnit/UserInsertApplicationTest.php</file>
        </testsuite>
        <testsuite name="Testes para o delete">
            <directory>./tests/phpUnit/</directory>
            <file>./tests/phpUnit/UserDeleteApplicationTest.php</file>
        </testsuite>
        <testsuite name="Testes para o search/read">
            <directory>./tests/phpUnit/</directory>
            <file>./tests/phpUnit/UserSearchApplicationTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <var name="SOME_CONSTANT_CONFIG" value="testes TCC Uniararas" />
    </php>
</phpunit>